body
{
	background-color:#666;
}

a
{
	outline:0;
}

.btAction
{
	float:left;
	background-color:#333;
	width:70%;
	margin-top:5%;
	margin-bottom:5%;
	margin-left:15%;
	margin-right:15%;
	padding:5% 0;
	text-align:center;
	text-decoration:none;
	color:#DDD;	
	font-size:120%;
	border-style:outset;
	border-width:5px;
	border-color:#DDD;
	border-radius:25px;
}

.btAction:hover
{
	color:#FF0;
	border-color:#FFD700;
}

#site_content
{
	float:left;
	background-image:url('css-graphics/effect_site_content_background.jpg');
	width:70%;
	margin-top:5%;
	margin-left:15%;
	margin-right:15%;
	border-style:outset;
	border-width:3px;
	border-color:#333;
	border-radius:25px;
}

#goPdf
{
	margin-top:10%;
}

#goIndex
{
	margin-bottom:10%;
}

#footer
{
	float:left;
	width:100%;
	margin-top:4%;
	margin-bottom:2%;
	text-align:center;
	color:#888;	
}